*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5{
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to bottom right, var(--purple), var(--light-green));
}


:root{
    --dark-blue: #28527A;
    --dark-yellow: #F4D160;
    --light-blue: #8AC4D0;
    --light-yellow: #FBEEAC;
    --dark-purple: #1F2041;
    --purple: #4B3F72;
    --dark-green: #417B5A;
    --light-green: #07f49e;

}
.img-tkb{
    width: 800px;
}
.heading{
    font-family: 'Dela Gothic One', cursive;
    color: var(--dark-purple);
}

.text-box{
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 10px 10px 10px ;
    background-color: white;
}
.text-box a{
    text-decoration: none;
    color: var(--dark-purple);
}
.text-box a:hover{
    color: var(--light-green);
}
.img-avt{
    width: 300px;
}

.contact-info a{
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: bold;
    margin-left: 30px;
}

.contact-info a:hover{
    color: var(--light-green);
}

.contact-info{
    padding: 20px;
    background-color: white;
    border-radius: 50px;
}

.footer{
    background-color: var(--purple);
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer ul{
    list-style: none;
}

.footer a:hover{
    color: var(--light-green);
}

.footer button{
    margin-bottom: 5px;
}

.sign-in{
    padding: 15px;
    border-radius: 30px;
    background-color: var(--purple);
    margin-top: 15px;
    text-align: center;
    width: fit-content;
    box-shadow: 5px 5px 5px ;
    margin-left: auto;
    margin-right: auto;
    transition: width 2s;
    transition-timing-function: linear;
}

.sign-in a{
    text-decoration: none;
    color: white;
}

.sign-in a:hover{
    color: var(--light-green);
}

.sign-in:hover{
    width: 200px;
}

.img-classroom{
    width: 500px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 30px;
}